/* Main background with a soft gradient */
.stApp {
    background: linear-gradient(135deg, #bff1f8 0%, #aef9b4 100%);
}

/* Set all text to be black */
h1, h2, h3, h4, h5, h6, p, span, label, div {
    color: #000000
}

/* UN SDG Cards */
.sdg-card {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 15px;
    border-top: 5px solid #0288d1;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

/* The Camera Container Styling */
[data-testid="stCameraInput"] {
    border-radius: 20px;
    overflow: hidden;
    border: 4px solid #0288d1; 
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
    margin-top: 20px;
}

/* Feedback Boxes (Info, Success, Warning) */
.stAlert {
    border-radius: 15px;
    border: none;
    background-color: #2e9b5f;
}

.stAlert p, .stAlert span, .stAlert div, .stAlert li {
    color: white !important;
    font-weight: bold !important;
}

/* Button Styling */
.stButton>button {
    background-color: #42db86; 
    color: white; 
    font-weight: bold;
    border: none;
}

.stButton>button:hover {
    background-color: #0288d1; 
}


/* The card container - needed to position the front and back */
.flip-card {
  background-color: transparent;
  width: 100%;
  height: 200px;
  perspective: 1000px; 
  margin-bottom: 20px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  cursor: pointer;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/* Style the front side */
.flip-card-front {
  background-color: #fffcfc;
  color: black;
  border: 2px solid #0288d1;
}

/* Style the back side */
.flip-card-back {
  background-color: #094911;
  color: white !important;
  transform: rotateY(180deg);
}

/* Ensure back text is white for readability */
.flip-card-back p, .flip-card-back h4 {
    color: white !important;
}

/* Style the sidebar container */
[data-testid="stSidebar"] {
    background-color: #ffffff;
    border-right: 1px solid #2d313e;
}

/* Custom styling for sidebar buttons */
[data-testid="stSidebar"] .stButton > button {
    background-color: #262936;
    color: #ffffff;
    border: 1px solid #3d4255;
    border-radius: 8px;
    font-weight: 500;
    transition: all 0.2s ease;
}

[data-testid="stSidebar"] .stButton > button:hover {
    background-color: #4f46e5;
    color: #ffffff;
    border-color: #6366f1;
}